.universal-blok{
    width: 100%;
    height: max-content;
    margin-top: 25px;
    
.universal-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

   

.universal-left{
    font-size: 20px;
}
.universal-rigth{
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    border: 0.5px solid #fff;
   
   

}
}
.universalDisplay{
    width: 100%;
    display: none;
  
   


}

.universalBlok{
    display: block;
    .universal-text{
        font-size: 18px;
        margin-top: 10px;
       
    }
    
    
        
    
    }
}