.item-blok{
    width: 23%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

.item-img{
    width: 100%;
    height: 280px;
    border-radius: 50%;
  
   
}
.item-name{
    font-size: 25px;
    margin-top: 20px;
}
    
.item-btn{
    width: 35%;
    height: 45px;
    background-color: green;
    border-radius: 10px;
    border: none;
    color: snow;
    margin-top: 20px;
    
}

}